@import url("https://deploy-preview-8--pleasant-ui.netlify.app/src/styles/main.css");

:root {
    --ink-bg: #F5F5F5;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ink-bg);
    height: 100vh;
}

.item-display-container {
    height: fit-content;
    max-height: 20rem;
    overflow: hidden;
}

.auth-container {
    width: calc(1.5 * var(--card-vertical-width));
    padding: 2rem;
}

.product-banner {
    background-color: var(--ink-white);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
}

.cart-checkout-group {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--ink-grey-dark);
}

.products-container {
    height: 100%;
    display: grid;
    grid-template-areas:
        "products-list"
    ;
}

.products-container .products-filter {
    padding: 1rem;
    min-width: 15rem;
    grid-area: products-filter;
    background-color: var(--ink-white);
    display: none;
}

.products-container .products-list {
    grid-area: products-list;
}

@media screen and (min-width: 850px) {
    .products-container {
        grid-template-areas:
        "products-filter products-list"
    ;
    }

    .products-container .products-filter {
        display: unset;
    }
}

.form .input-group label {
    font-weight: 400;
}

.form .input-group input {
    border: 1px solid var(--ink-grey-light);
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap {
    gap: 1rem;
}

.strike {
    text-decoration: line-through;
}


.list {
    overflow: unset;
}

.inline {
    display: inline-block;
}

.w-full {
    width: 100%;
}

.pointer {
    cursor: pointer;
}